*{
    padding: 0; margin: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: palegreen;
}

.app{
    background: white;
    padding: 1rem;
    width: 500px;
    text-align: center;
}


.app_body{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    width: 300px;
    height: 300px;
    background: gray;
    margin: .5rem auto;
    border: 2px solid;
    position: relative;
}

.btn{
    position: absolute;
    padding: 1rem;
    background: pink;
    color: white;
    cursor: pointer;
    z-index: 1;
}

.hide{
    display: none !important;
}